$white-morning: #FEFEFC;
$rose-quartz: #FBE9E7;
$nude-mahogany: #D29985;
$green-wise: #3D5B53;
$black: #222222;

// v2

$bper-verde-scuro: #005157;
$bper-bianco: #ffffff;
$bper-grigio-caldo-5: #333333;
$bper-verde-chiaro: #00ae65;
$bper-arancione: #e37222;